<ul class="site-header-actions" data-header-actions>
  <li class="site-header__language-selector">
    <select id="language-selector">
    <option value="en">EN</option>
    <option value="fr">FR</option>
    <!-- Add more language options as needed -->
  </select>
  
  </li>
  
  {% for link in linklists.header-menu.links %}
  <li>
    <a href="{{ link.url }}">
      {{ link.title }}
    </a>
  </li>
{% endfor %}
  
  {% if shop.customer_accounts_enabled %}
    {% unless customer %}
      <li class="site-header-actions__account-link">
        <a
          class="site-header_account-link-anchor"
          href="{{ routes.account_login_url }}"
        >
          <span class="site-header__account-icon">
            {% 
                render 'icon-library', 
                id: 'icon-account', 
            %}
          </span>
          
          <span class="site-header_account-link-text">
            {{ 'header.account.login' | t }}
          </span>
        </a>
      </li>
    {% else %}
      <li class="site-header-actions__account-link">
        <span class="site-header__account-icon">
          {% render 'icon-library', id: 'icon-account' %}
        </span>
        <span class="site-header__account-links">
          <a
            class="site-header__account-link--account"
            href="{{ routes.account_url }}"
          >
            {{ 'header.account.title' | t }}
          </a>
          
          <a
            class="site-header__account-link--logout"
            href="{{ routes.account_logout_url }}"
            data-no-instant
          >
            {{ 'header.account.logout' | t }}
          </a>
        </span>
      </li>
    {% endunless %}
  {% endif %}
</ul>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var languageSelector = document.getElementById('language-selector');
    var storedLanguage = localStorage.getItem('selectedLanguage');
    
    // Set the stored language as the default value if available
    if (storedLanguage) {
      languageSelector.value = storedLanguage;
    }
    
    languageSelector.addEventListener('change', function() {
      var selectedLanguage = languageSelector.value;
      var currentPath = window.location.pathname;
      
      // Remove any existing language code from the path
      var pathSegments = currentPath.split('/');
      var newPathSegments = pathSegments.filter(function(segment) {
        return segment !== storedLanguage;
      });
      
      // Construct the new URL based on the selected language
      var newUrl;
      if (selectedLanguage === 'en') {
        newUrl = newPathSegments.join('/');
      } else {
        newUrl = '/' + selectedLanguage + newPathSegments.join('/');
      }
      
      // Store the selected language in local storage
      localStorage.setItem('selectedLanguage', selectedLanguage);
      
      window.location.href = newUrl;
    });
  });
</script>




