<ul class="site-header-actions" data-header-actions>
  <li class="site-header__language-selector">
    <select id="language-selector">
      <option value="fr">FR</option>
      <option value="en">EN</option>
    <!-- Add more language options as needed -->
  </select>
  
  </li>
  
  {% for link in linklists.header-menu.links %}
  <li>
    <a href="{{ link.url }}">
      {{ link.title }}
    </a>
  </li>
{% endfor %}
  
  {% if shop.customer_accounts_enabled %}
    {% unless customer %}
      <li class="site-header-actions__account-link">
        <a
          class="site-header_account-link-anchor"
          href="{{ routes.account_login_url }}"
        >
          <span class="site-header__account-icon">
            {% 
                render 'icon-library', 
                id: 'icon-account', 
            %}
          </span>
          
          <span class="site-header_account-link-text">
            {{ 'header.account.login' | t }}
          </span>
        </a>
      </li>
    {% else %}
      <li class="site-header-actions__account-link">
        <span class="site-header__account-icon">
          {% render 'icon-library', id: 'icon-account' %}
        </span>
        <span class="site-header__account-links">
          <a
            class="site-header__account-link--account"
            href="{{ routes.account_url }}"
          >
            {{ 'header.account.title' | t }}
          </a>
          
          <a
            class="site-header__account-link--logout"
            href="{{ routes.account_logout_url }}"
            data-no-instant
          >
            {{ 'header.account.logout' | t }}
          </a>
        </span>
      </li>
    {% endunless %}
  {% endif %}
</ul>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var languageSelector = document.getElementById('language-selector');
    var currentUrl = window.location.href;
    var isDefaultLanguage = !currentUrl.includes('/en/');
    var defaultLanguage = isDefaultLanguage ? 'fr' : 'en';

    // Set the default language to the selector
    languageSelector.value = defaultLanguage;

    languageSelector.addEventListener('change', function() {
      var selectedLanguage = languageSelector.value;

      if (selectedLanguage === 'en') {
        if (isDefaultLanguage) {
          // If the default language, add "/en" prefix
          currentUrl = currentUrl.replace(/^(https?:\/\/[^/]+)/, '$1/en');
        } else {
          // If already in English, just switch the selector
          languageSelector.value = 'fr';
        }
      } else {
        // Remove "/en" prefix if it's present
        currentUrl = currentUrl.replace('/en', '');
      }

      // Redirect to the new URL
      window.location.href = currentUrl;
    });
  });
</script>

